/* Move down content because we have a fixed navbar that is 50px tall */
/*body {
  padding-top: 50px;
  padding-bottom: 20px;
}*/
.jumbotron {
	padding:0px !important;
	margin:50px 0px 0px 0px !important;
	height:400px;
}

.jumbotron .container{
	padding-top: 115px;
}