.navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
}

#canvasContainer{
	position:relative;
}

#canvasText{ 
   position: absolute; 
   width: 100%; /* for IE 6 */
   padding: 120px 0px 0px 150px;
}


